.add-blog-btn {
    padding: var(--medium-padding);
    background-color: var(--complement);
    color: var(--text-light);
    font-weight: bold;
    cursor: pointer;
}

.post-publish-btn {
    padding: var(--medium-padding);
    background-color: var(--complement);
    color: var(--text-light);
    cursor: pointer;
}