.add-blog-btn {
    padding: var(--medium-padding);
    width: 200px;
    height: 40px;
    background-color: var(--complement);
    color: var(--text-light);
    font-weight: bold;
    
}

.post-publish-btn {
    padding: var(--medium-padding);
    width: 200px;
    height: 40px;
    background-color: var(--complement);
    color: var(--text-light);
    text-align: center;
    
}