.blog-card-list {
    display: grid;
    grid-template-columns: repeat(3, var(--card-width));
    justify-content: center;
    column-gap: var(--gap);
    row-gap: var(--gap);
    
}

.blog-card {
    width: var(--card-width);
    height: var(--card-height);
    background-color: var(--text-color);
    color: var(--main-bg);
    border: 1px solid black;
}