.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    background-color: var(--main-bg);
    color: var(--text-color);
}

.header-section h1 {
    font-size: 3em;
}