/* ===========================
   General Header Style 
   =========================== */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--medium-padding);
    min-height: 50vh;
    background-color: var(--dominant-shade);
    color: var(--text-dark);
}

header h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
}

header h2 {
    font-size: clamp(1.5rem, 3.5vw, 2rem);
}

header h3 {
    font-size: clamp(1.17rem, 2vw, 1.5rem);
}

header h4 {
    font-size: clamp(1rem, 1.5vw, 1.17rem);
}

header p {
    font-size: clamp(1rem, 1vw, 1.05rem);
}


/* ===========================
   About Header Style 
   =========================== */
.header-about {
    height: 90vh;
}


.header-about img {
    margin: 0 auto;
    width: var(--photo-width);
    height: var(--photo-height);
    border-radius: 100px;
}


.header-about .about-name,
.header-about .about-title {
    letter-spacing: 1px;
}

.header-about .about-title {
    margin-bottom: var(--medium-space);
    color: var(--accent);
}

.header-about .about-desc {
    padding: 0 10vw;
    letter-spacing: 0.9px;
    line-height: 20px;
}