nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    padding: var(--medium-padding);
    background-color: var(--dominant);
}

nav a {
    width: var(--navbar-link-width);
    height: var(--navbar-link-height);
    line-height: var(--navbar-link-height);
    letter-spacing: 1px;
    color: var(--complement);
    text-decoration: none;
}

nav a.router-link-exact-active {
    color: var(--accent);
}

nav a:hover {
    background-color: var(--accent);
    color: var(--complement);
    transition: all 0.5s ease;
}