/* ================================
   Small Screen: Smartphone 
   ================================ */
   @media (max-width: 600px) {
    /* Navbar */
    nav {
        justify-content: space-between;
    }

    .nav-link-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: 0;
        right: -90vw;

        /* horizontal padding is the same as nav */
        padding: var(--small-space) 0;
        height: 100vh;

        background-color: var(--dominant);
        transition: var(--default-transition);
    }

    .nav-link-item a {
        width: 90vw;
    }

    .nav-link-item a:hover {
        transition: var(--default-transition);
    }

    .nav-menu-bars,
    .nav-close-btn {
        display: block;
    }

    .nav-close-btn {
        margin-left: 90%;
    }

    /* Blog */
    .blog-card-container {
        grid-template-columns: repeat(1, var(--card-width));
    }

    #post-form {
        /* Make sure no column with more than 1 span */
        grid-template-columns: 1fr;
    }

    #editor-item {
        grid-column: 1;
    }

}


/* ================================
   Medium Screen: Tablet 
   ================================ */
@media (min-width: 768px) {
    /* Header */
    .about-desc {
        padding: 0 10vw;
    }
}

/* ================================
   Wide Screen: Desktop
   ================================ */
@media (min-width: 1200px) {
    /* Header */
    .about-desc {
        padding: 0 20vw;
    }

    /* Blog */
    .blog-card-list {
        grid-template-columns: repeat(3, var(--card-width));
    }
}


