#search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto var(--small-space);
    padding: var(--medium-padding);
    width: 60vw;
    background-color: var(--complement);
    border-radius: 20px;
}

#search-bar input {
    width: 100%;
    background: transparent;
}

#search-bar button {
    font-size: var(--icon-size);
    background: transparent;
    cursor: pointer;
}