/* Navigation Section */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    padding: var(--medium-padding);
    background-color: var(--dominant);
}

nav a {
    width: var(--navbar-link-width);
    height: var(--navbar-link-height);
    line-height: var(--navbar-link-height);
    letter-spacing: 1px;
    color: var(--text-dark);
}

nav a.router-link-exact-active {
    color: var(--accent);
}

nav a:hover {
    background-color: var(--complement);
    color: var(--text-light);
    transition: all 0.5s ease;
}

/*  */

/* Content Section */
.content-view {
    margin: 0 5vw;
}

.content-view > * {
    margin-bottom: var(--big-space);
}

/*  */

/* Footer Section */
footer {
    margin-top: auto;
    padding: var(--big-padding);
    background-color: var(--text-dark);
    color: var(--text-light);
}

.contact-container {
    margin-bottom: var(--medium-space);
}

.contact-title,
.made-with-title {
    margin-bottom: var(--small-space);
}

.contact-icon-list,
.made-with-icon-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap);
}

.contact-icon-item>a,
.made-with-icon-item>a {
    color: var(--text-light);
    font-size: var(--icon-size);
}

.contact-icon-item>a:hover,
.made-with-icon-item>a:hover {
    color: var(--accent);
    transition: all 0.5 ease;
}

/*  */