/* ==================== 
 1. Variables
==================== */

// 1.1 Color Variables
$dominant: #222831;
$dominant-shade: #13171D;
$dominant-transparent: rgba(34, 40, 49, 0.8);
$complement: #D3FBD8;
$accent: #00C6B9;
$text-dark: #f0eeee;
$text-light: #181818;

// 1.2 Size Variables
$icon-size: 1.2em;

// 1.3 Transition Variables
$default-transition: all 0.5s ease;


/* ==================== 
   2. Default Styles
  ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

img {
    align-self: center;
}

ul {
    list-style-type: none;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: $dominant;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    min-height: 50vh;
    color: $text-dark;
}

header h1 {
    font-size: clamp(1.2rem, 5vw, 3.5rem);
}

header h2 {
    font-size: clamp(1.5rem, 3.5vw, 2rem);
}

header h3 {
    font-size: clamp(1.17rem, 2vw, 1.5rem);
}

header h4 {
    font-size: clamp(1rem, 1.5vw, 1.17rem);
}

header p {
    font-size: clamp(0.8rem, 1.2vw, 1.1rem);
}