@mixin flex-col($justify: flex-start, $wrap: nowrap, $gap: 1em) {
    display: flex;
    flex-direction: column;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: center;
    gap: $gap;
}

@mixin flex-row($justify: flex-start, $wrap: nowrap, $gap: 1em) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: center;
    gap: $gap;
}

@mixin card($width, $height) {
    width: $width;
    height: $height;
    padding: $height* 0.08 $width * 0.08;
    text-align: left;
    border-radius: 12px;
    transition: $default-transition;
}

@mixin hollow-card($width, $height) {
    @include card($width, $height);
    color: $text-dark;
    border: 1px solid $complement;
}

@mixin filled-card($width, $height, $color) {
    @include card($width, $height);
    background-color: $color;
    color: $text-dark;
}

@mixin gradient-card($width, $height, $color) {
    @include card($width, $height);
    
}

@mixin top-triangle($width, $height, $color) {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 $width $height $width;
    border-color: 
        transparent 
        transparent
        $color
        transparent;
    transition: $default-transition;
}

@mixin top-triangle-test($width, $height, $color) {
    position: relative;
    width: $width;
    height: $height;
    background: radial-gradient(circle at left top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0) 100%);
    background-color: $color;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

@mixin bottom-triangle {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 56px 40px 0 40px;
    border-color: $accent transparent transparent transparent;
    transition: $default-transition;


    @keyframes pointing {
        100% {
            transform: translate(0, 40%);
        }
    }

    &:hover {
        animation: pointing .5s linear infinite alternate;
    }
}

@mixin hard-text-scale($size) {
    font-size: clamp(calc($size / 2.5), 10vw, $size);
}