@mixin flex-col($justify: flex-start, $wrap: nowrap, $gap: 1em) {
    display: flex;
    flex-direction: column;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: center;
    row-gap: $gap;
}

@mixin flex-row($justify: flex-start, $wrap: nowrap, $gap: 1em) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: center;
    column-gap: $gap;
}

@mixin hollow-btn {
    padding: 1em;
    min-width: 10em;
    border: 1px solid $complement;
    transition: $default-transition;

    &:hover {
        color: $accent;
        border: 1px solid $accent;
    }

    &:active {
        color: $complement;
        border: 1px solid $complement;
        transition: 0s;
    }
}

@mixin hollow-input {
    padding: .8em;
    width: 100%;
    background: transparent;
    color: $text-dark;
    border: 1px solid $complement;
    border-radius: 4px;
}

@mixin icon-btn {
    background: transparent;
    color: $text-dark;
    font-size: 1.2rem;
    transition: $default-transition;

    &:hover {
        color: $accent;
    }
}

@mixin card($width, $height) {
    width: $width;
    height: $height;
    padding: $width * 0.08 $height * 0.08;
    text-align: left;
    border-radius: 6px;
    transition: $default-transition;
}

@mixin hollow-card($width, $height) {
    @include card($width, $height);
    color: $text-dark;
    border: 1px solid $complement;
}

@mixin filled-card($width, $height) {
    @include card($width, $height);
    background-color: $complement;
    color: $text-light;
}

@mixin bottom-triangle {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 56px 40px 0 40px;
    border-color: $accent transparent transparent transparent;
    transition: $default-transition;
    

    @keyframes pointing {
        100% {
            transform: translate(0, 40%);
        }
    }
}

@mixin bottom-triangle-hover {
    animation: pointing .5s linear infinite alternate;
}

@mixin header-text {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
}

@mixin subheader-text {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

@mixin floating-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

@mixin sticky-top {
    position: sticky;
    top: 0;
}

@mixin overlay {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

@mixin glow {
    background-color: $dominant;
    color: $text-dark;
    border-radius: 5px;
    box-shadow: 0px 5px 10px $dominant-shade;
}