@mixin flex-col($justify: flex-start, $wrap: nowrap, $gap: 1em) {
    display: flex;
    flex-direction: column;
    flex-wrap: $wrap;
    justify-content: $justify;
    row-gap: $gap;
}

@mixin flex-row($justify: flex-start, $wrap: nowrap, $gap: 1em) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: center;
    column-gap: $gap;
}