/* ==================== 
   Default Styles
  ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

img {
    align-self: center;
}

ul {
    list-style-type: none;
}